
1.Create a student class and initialize it with name and date of birth.
Make methods to:
SetMarks: Input Marks of 3 subjects.
Display -It should display all information (name,roll no, marks(3 subjects))
After creating many instances, create methods to:

a)	print the students name in alphabetical order.

b)	Another method to list names of students born on a specific month.

c)	Find the name of the student with the highest marks in  each subject.

In [0]:
#1
class student():
  def __init__(self,name,*args):
    self.name=name
    self.date_of_birth=args
  def setmarks(self,roll_no,subject_1,subject_2,subject_3):
    self.roll_no=roll_no
    self.maths=subject_1
    self.science=subject_2
    self.social=subject_3  
  def display(self):
    print('Name:',self.name)
    print('roll no:',self.roll_no)
    print( 'marks:',self.maths, self.science, self.social)
  def order(t1,t2,t3):
    a=[]
    for names in (s,v,d):
      b = names.name
      a.append(b)
    a.sort()
    print(a)
  def month(month):
    for months in (s,v,d):
      if month == months.date_of_birth[1]:
        print (months.name)
  def highest():
    names=[]
    mark_maths=[]
    mark_science=[]
    mark_social=[]
    for high in (s,v,d):
      b=high.name
      names.append(b)
      c=high.maths
      f=high.science
      g=high.social
      mark_maths.append(c)
      mark_science.append(f)
      mark_social.append(g)
    for x in (mark_maths,mark_science,mark_social):  
      best_score=max(x)
      idx = x.index(best_score)
      name = names[idx]
      print(name)

In [0]:
s=student("manu",22,9,2006)
d=student("archana",2,4,2006)
v=student("bincy",3,6,2006)

In [0]:
s.setmarks(9,93,45,67)
d.setmarks(13,77,95,56)
v.setmarks(19,78,49,98)

In [0]:
s.display()

Name: manu
roll no: 9
marks: 93 45 67

In [0]:
f=student.order(s,v,d)

['archana', 'bincy', 'manu']

In [0]:
h=student.month(6)

bincy

In [0]:
k=student.highest()

manu
archana
bincy

2.For a given array of n integers, the function returns the index of the element with the minimum value in the array. 

a.	If there is more than one element with the minimum value, the returned index should be the smallest one.

b.	If an empty array is passed to the function, it should raise an Exception.
Refer: Exceptions in Python

In [0]:
#2

def minimum_index(seq):
    if len(seq) == 0:
        raise ValueError("Cannot get the minimum value index")
    min_idx = 0
    for i in range(1, len(seq)):
        if a[i] < a[min_idx]:
            min_idx = i
    return min_idx

3.Create a Temperature class. Make methods :

a)	ConvertFahrenheit - It will take celsius and will print into Fahrenheit.

b)	ConvertCelsius- It will take Fahrenheit and will convert into Celsius.

c)	Handle exceptions(if input should be celsius and if user inputs Fahrenheit raise error)

In [0]:
#3
class temperature():
  def __init__(self):
    pass
  def convert_to_F(self,celsius):
    if celsius >= 101:
      raise ValueError('input must be in celsius')
    fahrenheit=((celsius)*1.8)+32
    return fahrenheit
  
  def convert_to_C(self,fahrenheit):
    if fahrenheit >= 213:
      raise ValueError('input must be in fahrenheit')
    celsius=((fahrenheit)-32)/1.8
    return celsius

In [0]:
kochi=temperature()

In [0]:
kochi.convert_to_F(98)

208.4

In [0]:
kochi.convert_to_C(100)

37.77777777777778

4.	Create a Time class and initialize it with hours and minutes.

a)	Make a method displayTime which should print the time.

b) Make a method addTime which should take two time object and add them. E.g.- (2 hour and 50 min)+(1 hr and 20 min) is (4 hr and 10 min)

c)Method DisplayMinute which should display the total minutes in the Time. E.g.- (1 hr 2 min) should display 62 minute.

In [0]:
#4
class time():
  def __init__(self,hours,mins):
    self.hours=hours
    self.mins=mins
    
  def displayTime(self):
    print (f"The Time is {self.hours}hr and {self.mins}min")
  def addTime(time1,time2):
    time3 = time(0,0)
    if time1.mins+time2.mins > 60:
      time3.hours = int((time1.mins+time2.mins)/60) 
    time3.hours = time3.hours+time1.hours+time2.hours
    time3.mins =(time1.mins+time2.mins)-((int((time1.mins+time2.mins)/60))*60) 
    return time3
  def DisplayMinute(self):
    total_minutes= (self.hours*60)+self.mins
    print (total_minutes,'mins')

In [0]:

e=time(2,50)
f=time(1,20)

In [0]:
e.displayTime()

The Time is 2hr and 50min

In [0]:
g=time.addTime(e,f)

In [0]:
g.displayTime()

The Time is 4hr and 10min

In [0]:
e.DisplayMinute()

170 mins

5.Create a class Shape(Parent). From Parent inherit Quadrilateral, Triangle, Rectangle, Circle.
Write methods like:

A)	GetDimension for each child classes.

B)Methods to find Area and Perimeter of each shape(for quadrilateral, area is not necessary.)

C)In quadrilateral, write another method to check if it is a rectangle.

D) Use inheritence and polymorphism wherever you can.

In [0]:
#5
class shape():
  True
class Quadilateral(shape):
  def __init__(self):
    shape.__init__(self)
  def GetDimension(self,a,b,c,d):
    self.a=a
    self.b=b
    self.c=c
    self.d=d
  def perimeter(self):
    perimeter=self.a+self.b+self.c+self.d
    return perimeter
  def is_rect(self):
      if (self.a==self.c or self.a==self.d) and (self.b==self.c or self.b==self.d):
        print ('it is a rectangle')
      else:
        print('it is not a rectangle')
class Triangle(shape):
  def GetDimension(self,base,ht,side):
    self.base=base
    self.ht=ht
    self.side=side
  def perimeter(self):
    perimeter=self.base+self.ht+self.side
    return perimeter
  def area(self):
    area=(self.base*self.ht)/2
    return area
class rectangle(shape):
  def GetDimension(self,a,b):
    self.a=a
    self.b=b
  def perimeter(self):
    perimeter= 2*(self.a+self.b)
    return perimeter
  def area(self):
    area = self.a*self.b
    return area
class circle(shape):
  def GetDimension(self,r):
    self.r=r
  def perimeter(self):
    perimeter = 2*3.14*self.r
    return perimeter
  def area(self):
    area=3.14 *(self.r)*(self.r)
    return area

6.Define a class “Stock” with the following description:

Private Members:
*   ICode of type integer(Item code)
*   Item of type string(Item Name)

*  Price of type float(price of each item)
* 	Qty of type integer(Qty in stock)

*   Discount of type float(Discount percentage on the item)
*  A member function FindDisc() to calculate discount as per the following rule
   If Qty <= 50  - Discount is 0
   If 50<Qty<=100 - Discount is 5
   If Qty>100 - Discount is 10

Public Members:
*   A function Buy() to allow user to enter values for ICode, item,Qty and call function FindDisc() to calculate the discount
*  A function ShowAll() to allow user to view the content of all the data members

In [0]:
#6
class stock():
 
  def __FindDisc(self):
 
    discount=0
    if self.__qty <=50:
       discount= 0
    if self.__qty <= 100:
      discount =5
    if self.__qty > 100:
      discount = 10
    print('discount:',discount)    
  def buy(self):
    self.__icode=int(input("enter item code:"))
    self.__name=str(input("enter name of product:"))
    self.__price=float(input("enter price:"))
    self.__qty=int(input("enter quantity:"))
    stock.__FindDisc(self)
  def showall(self):
    print(f'item code{self.__icode}\nitem name:{self.__name}\nprice:{self.__price}\nquantity:{self.__qty}')

In [0]:
a=stock()

In [194]:
a.buy()

enter item code:234
enter name of product:biscuit
enter price:25.00
enter quantity:3
discount: 5

In [195]:
a.showall()

item code234
item name:biscuit
price:25.0
quantity:3

7.Declare a class to represent bank account of 10 customers with the following data members. Name of the depositor, Account number, Type of account, (S for savings and C for current), balance amount.
The class also contains member functions to do the following:

a)	To initialize data members

b)	To deposit money

c)	To withdraw money after checking the balance(minimum balance in Rs.100)

d)	To display the data members.

In [0]:
#7
class bank_account():
  def intialize(self,name,account_number,type_of_account,balance):
    self.name=name
    self.account_number=account_number
    self.type_of_account=type_of_account
    self.balance=int(balance)
  def deposit(self,amount):
    self.balance=(self.balance+int(amount))
    print ('Total amount:',self.balance)
  def withdraw(self,wthdrw):
    if self.balance>=100:
      new_amount=self.balance-int(wthdrw)
      print('balance',new_amount)
    else:
      print('insufficient balance')
  def display(self):
    print(f'Name:{self.name}\naccount number:{self.account_number}\ntype of account:{self.type_of_account}\nbalance:{self.balance}')

In [0]:
a=bank_account()

In [0]:
a.intialize('anjana',234567,'saving',2500)

In [172]:
a.deposit(3400)

Total amount: 5900

In [173]:
a.withdraw(3000)

balance 2900

In [174]:
a.display()

Name:anjana
account number:234567
type of account:saving
balance:5900


8.Write a python program to make a simple Calculator that can add, subtract, multiply or divide depending upon the input.
Note: Use functions with arguments

In [141]:
#8 
def calculator(a,b,op):
  if op == '+':
     return a+b
  if op == '-':
    return a-b
  if op == '*':
    return a*b
  if op == '/':
    return a/b
a=calculator(45,67,'/')
print('The output:',a)

The output: 0.6716417910447762

9..Define a class TESTMATCH in PYTHON with the following description :

Private Members :
1. TestCode of type integer 
2. Description of type string
3. NoOfCandidates of type integer.
4.CenterReqd (number of centres required) of type integer

5.A member function CALCULATECNTR() to calculate and return the number of centres as (NoOfCandidates / 100 + 1)

Public Members :
1. A function GETDATA() to allow user to enter values for TestCode, Description, NoOfCandidates & call function CALCULATECNTR() to calculate the number of centres. 
2. A function PUTDATA() to allow user to view the content of all the data members in the following format : 


 * TEST MATCH INFORMATION____________________________
  
*  Test Match Code      : __________________________
*   Description               : __________________________
*  	Total Candidates      : __________________________
*  Centers Required     : __________________________

In [0]:
#9
class testmatch():
  def __CALCULATECNTR(self):
    number_of_centers= self.__no_of_candidates/100+1
    return number_of_centers  
  def GETDATA(self):
    self.__testcode=int(input("enter test code:"))
    self.__description=str(input("enter the description:"))
    self.__no_of_candidates=float(input("enter number of candidates:"))
    self.__CenterReqd=testmatch.__CALCULATECNTR(self)
  def PUTDATA(self):
    print(f'TEST MATCH INFORMATION\n1.Test Match Code:{self.__testcode}\n2.Description{self.__description}\n3.Total candidates:{self.__no_of_candidates}\n4.centers required:{self.__CenterReqd}')

In [0]:
d=testmatch()

In [191]:
d.GETDATA()

enter test code:234
enter the description:cricket match
enter number of candidates:3500

In [162]:
d.PUTDATA()

TEST MATCH INFORMATION
1.Test Match Code:234
2.Descriptioncricket match
3.Total candidates:3400.0
4.centers required:35.0

10. Write a PYTHON program to perform various operations on a string class without using  language supported built-in string functions. The operations on a class are :

a)	Read a string

b)	Display the string

c)	Reverse the string

d)	Copy the string into an empty string

e)	Concatenate two strings.

In [0]:
#10
class string():
  def read(self):
    s=str(input('enter the string:'))
    self.str=s
  def display(self):
    print(self.str)
  def reverse(self):
    k=self.str[::-1]
    print(k)
  def copy(self):
    self.str1=self.str
    print(self.str1)
  def conctenate(self,a,b):
    return a + b