# Week 2 Part 1 Assignments

1. Understand number and answer the following question.
  1. Assign to 10 and 2 on two variables 'a' and 'b' and perform addition, subtraction, multiplication, division and modulo operation. You should properly print answer during each operation.

In [0]:
# 1.1 Type your answer here.
a=10
b=2

In [0]:
a+b

12

In [0]:
a-b

8

In [0]:
a*b

20

In [0]:
a/b

5.0

In [0]:
a%b

0

2. Write different rules for naming a variable/identifier.

**for variables**
.
1. Must begin with a letter (a - z, A - B) or underscore (_)

2.  Other characters can be letters, numbers or _

1.   Case Sensitive.
2.   Can be any (reasonable) length.There are some reserved words which you cannot use as a variable name because Python uses them for other things.
 
**for identifiers**


1.   The first character of the identifier must be a letter of the alphabet (upper or lowercase) or an underscore ('_').
2.   The rest of the identifier name can consist of letters (upper or lowercase), underscores ('_') or digits (0-9).

3.  Understand string and answer the following question.   
 1. Assign 2 string on two variable and perform concatenation.
 2. Assign a string in a variable and print the reverse of the string.
 3. Assign 'lower' to a variable and convert it to upper case.
 4. Assign 'school of ai' into a variable and split it into individual words
 5. Assign 'school of ai' into a variable and find the starting index  of word 'ai'

In [0]:
# 3.1 Type your answer here
a='Hello '
b='world'
a+b

'Hello world'

In [0]:
# 3.2 Type your answer here
d='python class'
c=d[::-1]
print (c)

ssalc nohtyp

In [0]:
# 3.3 Type your answer here
s='my name is'
s.upper()

'MY NAME IS'

In [0]:
# 3.4 Type your answer here
r='school of ai'
r.split()

['school', 'of', 'ai']

In [0]:
# 3.5 Type your answer here
r='school of ai'
r.index('ai')

10

4.  Understand list and answer the following question.   
  1. Create a list with values 10,20,30,40 and find its length and sum
  2. Create a list with values 11,22,55. Pop the last element and store it in a variable called 'x'
  3. Create a list with values 10,20,40 and insert 30 in index 2.
  4. Create a list with values 'a','b','c' and remove 'b' from list
  5. Create a list with values 5,'a','b','c',1,5. select values from index 1 to 3 and store it in a variable called 'alpha_list' using slicing.

In [0]:
# 4.1 Type your answer here
l=[10,20,30,40]
print(len(l))
print(sum(l))

4
100

In [0]:
# 4.2 Type your answer here
g=[11,22,55]
x=g.pop()
print(g)
print(x)

[11, 22]
55

In [0]:
# 4.3 Type your answer here
f=[10,20,40]
f.insert(2,30)
print(f)

[10, 20, 30, 40]

In [0]:
# 4.4 Type your answer here
list=['a','b','c']
list.remove('b')
print(list)

['a', 'c']

In [0]:
# 4.5 Type your answer here
cell=[5,'a','b','c',1,5]

In [0]:
# 4.5 Type your answer here
alpha_list=cell[1:3]
print(alpha_list)

['a', 'b']

5.  Understand dictionary and answer the following question.   
  1. Create a dict with key '1' and value 'odd', key '2' and value 'even'
  2. Create a dict with key '1' and value 'odd', key '2' and value 'even' .Then replace 'even' of key 2 with 'EVEN'

In [0]:
# 5.1 Type your answer here
dict={1:'odd',2:'even'}

In [0]:
# 5.2 Type your answer here
dict[2]='EVEN'

In [0]:
print(dict)

{1: 'odd', 2: 'EVEN'}